@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

h2, h3 {
  color: #004d4d;
}

header {
  display: inline;
}

header .jumbotron {
  color: white;
  background-color: #004d4d;
  text-align: center;
  padding: 4rem;
}

header .jumbotron h1 {
  font-size: 3rem;
}

header nav {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  background-color: white;
}

header nav ul {
  display: flex;
  padding-inline: 2rem;
  gap: 2rem;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  text-decoration: none;
  color: teal;
}

header nav ul li a:hover {
  font-weight: bold;
}

main {
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

main article p {
  text-align: justify; 
}

main article .content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
}

main article h1 {
  margin-block: 1rem;
}

main article p {
  line-height: 1.7rem;
  font-size: 1rem;
}

main article iframe {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  object-position: center;
}

.featured-image {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  object-position: bottom;
}

.image-profile {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.profile header {
  text-align: center;
}

main article .content-testimoni {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

main .content-testimoni h3 {
  text-align: center;
}

main aside {
  flex: 1;
}

.card {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-card {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.profile img {
  width: 200px;
}

footer {
  background-color: #004d4d;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  font-weight: 600;
  color: white;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  header nav ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
    justify-content: center;
  }

  main article .content-testimoni {
    display: flex;
    flex-direction: column;
  }

  main aside {
    align-self: stretch;
  }
}
